body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 10pt;
}

h1 {
    margin:0;
}

p {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    margin-right: 0px;
}

img {
    vertical-align: middle;
}

td {
    text-align:center;
    vertical-align: middle;
    padding:0;
    margin:0;
}

.mainTable {
    min-width: 200px;
    border-bottom: 1px solid #C0C0C0;
}

.mainTable td {
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
}

.mainTable td table td {
    border:none;
    padding:0;
}

.fieldTable {
    border-bottom: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    margin-left: auto;
    margin-right: auto;
}


.fieldCell {
    width: 20px;
    height: 20px;
    font-size: 10pt;
    font-weight: bold;
    border-top: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0;
    border-bottom: none;
    border-right: none;
    text-align: center;
    vertical-align: middle;
    padding: 1px;
}

.fieldCell a { 
    display: block; 
    width: 20px; 
    height: 20px; 
    text-decoration: none;
    background: url(Images/NormalButtonReady.png?0.1.5) no-repeat top; 
}

.fieldCell a:hover {
    background: url(Images/NormalButtonHover.png?0.1.5) no-repeat top; 
}

.fieldCell a:active {
    background: url(Images/NormalButtonPressed.png?0.1.5) no-repeat top; 
}

.fieldCell a[disabled=disabled] {
    background: url(Images/NormalButtonDisabled.png?0.1.5) no-repeat top; 
}

.exploded {
    background-color:red;
}

.tip {
    background-image:url(Images/TipGreen.png?0.1.5);
}

.tip a {
    background: url(Images/TipButtonReady.png?0.1.5) no-repeat top; 
}

.tip a:hover {
    background: url(Images/TipButtonHover.png?0.1.5) no-repeat top; 
}

.tip a:active {
    background: url(Images/TipButtonPressed.png?0.1.5) no-repeat top; 
}

.headerPanel {
    text-align:center;
    background-color:#D0D0D0;
    padding: 3px;
}

.headerDisplay {
    width: 56px;
    height: 24px;
    background: black;
    padding: 2px;
}

.headerDisplay img {
    margin: 1px;
}

.resetPanel {
    height: 25px;
    text-align: center;
    vertical-align: middle;
}

.optionsPanel {
    padding: 5px;
    background: #D0D0D0;
    width: 200px;
    height: 180px;
    border: 1px solid black;
}

.footerPanel {
    background-color:#D0D0D0;
    padding: 3px;
}

.tipMessage {
    font-size: 8pt;
    color: darkred;
    padding: 3px;
}

